.landing-content {
    width: 700px;
    height: 350px;
    border: greenyellow solid 2px;
    border-radius: 50px;
    background-color: rgba(189, 189, 189, 0.781);
    display: flex;
    flex-direction: column;
    justify-content: center;
    &-title {
        width: 100%;
        text-align: center;
        h2 {
            font-size: 40px;
            color: black;
        }
    }
    &-description {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        text-align: center;
        p {
            width: 70%;
            color: black;
        }
    }
    &-button {
        width: 100%;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
        button {
            height: 40px;
            width: 300px;
            border: 1px solid greenyellow;
            background-color: rgba(0, 0, 0, 0.781);
            color: greenyellow;
            border-radius: 20px;
            margin: 2px;
            font-size: 20px;
        }
    }
}

@media (max-width: 750px) {
    .landing-content {
        width: 90%;
        height: auto;
        justify-content: center;
        margin: 0 auto;
        &-button {
            button {
                width: 200px;
            }
        }
    }
}