.register {
    background-image: url("../../../assets/imgs/elevator.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &-body {
        display: flex;
        flex-direction: column;
        margin: auto 0;
        justify-content: center;
        width: 100%;
        align-items: center;
        margin: auto 0;
        backdrop-filter: blur(10px);
        &-title {
            h1 {
                font-size: 40px;
                font-weight: bolder;
                color: white;
            }
        }
        &-description {
            display: flex;
            justify-content: center;
            margin: 0 auto;
            p {
                background-color: rgba(46, 46, 46, 0.329);
                border-radius: 50px;
                font-size: 15px;
                line-height: 27px;
                text-align: center;
                font-weight: bolder;
                margin: 0 auto;
                width: 90%;
                color: white;
            }
        }
        &-form {
            margin: 0 auto;
            width: 900px;
            border-radius: 50px;
            background-color: rgba(189, 189, 189, 0.781);
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 20px;
            &-title {
                font-size: 20px;
                font-weight: bolder;
                color: white;
                justify-content: center;
                display: flex;
                text-align: center;
            }
            app-form {
                margin: 0 auto;
            }
            &-button {
                display: flex;
                flex-direction: row;
                margin: 20px 0 20px 0;
                button {
                    margin: 0 auto;
                    height: 40px;
                    width: 290px;
                    border: 1px solid greenyellow;
                    background-color: rgba(0, 0, 0, 0.781);
                    color: greenyellow;
                    border-radius: 20px;
                    font-size: 20px;
                }
            }
        }
    }
}

@media (max-width: 1000px) {
    .register-body-form {
        width: 400px;
        justify-content: center;
        margin: 0 auto;
    }
    .register-body {
        height: auto;
    }
}

@media (max-width: 1000px) {
    .register-body-form {
        width: 300px;
        justify-content: center;
        margin: 0 auto;
    }
}