/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
    font-family: "Roboto", sans-serif;
    width: 100vw;
    height: 100vh;
}

button {
    background: none;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

input {
    background: none;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    border-bottom: rgb(255, 255, 255) 1px solid;
}

select {
    background: none;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    border-bottom: rgb(255, 255, 255) 1px solid;
    padding: 2.5px;
}

label {
    font-size: 10px;
    color: green;
}

input[type="checkbox"] {
    border-radius: 10px;
    background-color: grey;
}